# ----------------------------
# PYTHON / DJANGO (BACKEND)
# ----------------------------


# --- Python cache ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- caches spécifiques au dossier backend ---
/backend/**/__pycache__/
/backend/**/*.pyc
/backend/**/*.pyo
/backend/**/*.pyd

# --- si tu veux ignorer aussi les fichiers compilés dans les migrations ---
/backend/**/migrations/__pycache__/
/backend/**/migrations/*.pyc


# SQLite database (local)
db.sqlite3
*.sqlite3

# Virtual environments
.venv/
venv1
venv/
env/
ENV/
.Python

# Django specific
media/
staticfiles/
static/
certs/
api.http

# Environment files
.env
.env.prod
.env.dev
# Local overrides
docker-compose.override.yml


# ----------------------------
# NODE / ANGULAR (FRONTEND)
# ----------------------------

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
tmp/
out-tsc/
bazel-out/
.angular/cache/
.angular/

# TypeScript
*.tsbuildinfo
typings/

# Coverage / Test
coverage/
libpeerconnection.log
testem.log
karma-*.log

# Angular environments
frontend/src/environments/environment*.ts
/backend/backend/settings/__init__.py
/backend/.env.dev

# ----------------------------
# IDE / EDITORS
# ----------------------------

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# JetBrains (PyCharm, WebStorm, IntelliJ)
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/
*.launch

# Sublime
*.sublime-workspace

# Cloud9
.c9/


# ----------------------------
# SYSTEM FILES
# ----------------------------

.DS_Store
Thumbs.db


# ----------------------------
# GIT
# ----------------------------

# Ignore Git metadata (if copied somewhere else)

.gitignore
# Logs & keys
*.log
*.pem
*.pub

